@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.container {
    border: 4px solid blue;
    width: 50%;
    height: 55%;
    display: block;
    position: relative;
    padding: 2rem 10px 10px 10px;
    margin: 2rem auto auto auto;
    /* border: 2px solid blue;
    width: 750px;
    height: 250px;
    padding: 2rem 10px 10px 10px;
    margin: 2rem auto auto auto;
    display: block;
    position: relative; */
}

.container img {
    display: flex;

    flex-direction: start;
    padding: 10px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; 
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-size: 1.5em; */
    font-weight: bolder;
  }

p {
    padding: 0px 10px;
}